/* =============
   Common Style
   =============*/
@font-face {
    font-family: "Segoe UI Historic";
    src: url("./../fonts/Segoe\ ui\ historic.ttf");
}

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    background: #18191A;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
li{
    text-decoration: none;
}
a{
    text-decoration: none;
}
.display_flex{
    display: flex;
    align-items: center;
}
.body_hover:hover{
    background: #2F3031;
}
.body_menu_btn:hover{
    background: #2F3031;
}
/* ================
    Header Section
   ================*/

header {
    width: 100%;
    height: 56px;
    justify-content: space-between;
    background-color: #242526;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
}
.header_search_area {
    justify-content: center;
}
.logo {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.search {
    width: 240px;
    height: 40px;
    background-color: #3A3B3C;
    border-radius: 25px;
    padding: 0 10px;
}
.search span {
    font-size: 25px;
    margin-right: 5px;
    color: #e4e6eb;
}
.search input {
    flex: 1;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    color: #e4e6eb;
    font-size: 15px;
    font-weight: 400;
}
.search input::placeholder{
    color: #e4e6eb;
    font-size: 15px;
    padding-left: 5px;
}
.menu_toggler{
    display: none;
}
.header_nav_area ul li:last-child{
    display: none;
}
.header_nav_area ul li a{
    display: inline-block;
    padding: 7px 40px;
    border-radius: 8px;
    position: relative;
    transition: 0.3s;
}
.header_nav_area ul li a:hover{
    background-color: #3A3B3C;
}
.header_nav_area ul li a::after{
    display: none;
    content: attr(data-tag);
    width: 80px;
    height: 45px;
    background-color: rgb(226, 226, 226);
    position: absolute;
    left: 50%;
    bottom: -49px;
    text-align: center;
    color: #121314;
    font-size: 14px;
    transform: translateX(-40px);
    padding: 10px 15px;
    border-radius: 8px;
}
.header_nav_area ul li a:hover:after{
    display: block;
}
.header_nav_area ul li:first-child a{
    border-bottom: 3px solid #1B74E4;
    border-radius: unset;
    padding: 10px 40px;
    transition: 0.3s;
}
.header_nav_area ul li:first-child a:hover{
    background: unset;
}
.header_nav_area ul li:first-child a span{
    color: #1B74E4;
}
.header_nav_area ul li a span{
    color: #e4e6eb;
    font-size: 30px;
}
.header_profile_area ul li:first-child a{
    border-radius: 50px;
    padding: 5px;
    transition: 0.3s;
    width: unset;
    height: unset;
    background-color: unset;
}
.header_profile_area ul li:first-child a:hover{
    background-color: #3A3B3C;
}
.header_profile_area ul:first-child li a img{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 5px;
}
.header_profile_area ul:first-child li p{
    color: #E7E9ED;
}
.header_profile_area ul li a {
    display: flex;
    background-color: rgb(58, 59, 60);
    border-radius: 50%;
    padding: 10px;
    color: #e4e6eb;
    margin: 0 5px;
    transition: 0.3s;
}
.header_profile_area ul li a:hover {
    background-color: #4E4E4F;
}
.header_profile_area ul li a i{
    font-size: 25px;
}
.header_profile_area ul li:nth-child(3){
    display: none;
}

/* ================
    Main Section
   ================*/

   /* ===== Left Profile Section ====== */
main{
    max-width: 1464px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
.left_section, .right_section{
    flex-basis: 330px;
    height: 100vh;
    padding-top: 56px;
}
.left_section{
    padding: 71px 15px 0 15px;
    overflow: auto;
}
.left_section ul{
    width: 100%;
    margin-bottom: 5px;
}
.left_section ul li a{
    color: #E7E9ED;
    margin: 6px 0;
    padding: 7px;
    border-radius: 8px;
    transition: 0.3s;
}
.left_section ul li a img{
    width: 28px;
    height: 28px;
    margin-right: 10px;
    border-radius: 5px;
}
.left_section ul li a span{
    background: #5C5D5E;
    border-radius: 50%;
    margin-right: 10px;
}
.left_section ul:first-child li a img{
    border-radius: 50%;
}
.separator{
    width: 100%;
    height: 2px;
    background: #2F3031;
    margin: 10px 0;
}
.middle_section{
    flex-grow: 1;
    height: 100vh;
    padding-top: 56px;
}

    /* ===== Left Shortcut Section ====== */
    
.shortcut_section{
    transition: 0.3s;
}
.shortcut_section:hover .shortcut_header button{
    display: flex;
}
.shortcut_header{
    justify-content: space-between;
    margin-top: 7px;
}
.shortcut_header h4{
    color: #b0b3b8;
    font-weight: 600;
    margin-left: 5px;
    padding: 10px 0;
}
.shortcut_header button{
    display: none;
    background: unset;
    border: none;
    outline: none;
    color: #58A3FF;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

 /* Left Scroll Bar */

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: unset;
}
::-webkit-scrollbar-track:hover {
    background: #222425;
}
::-webkit-scrollbar-thumb {
    display: none;
    background: #646666;
    border-radius: 20px;
}
.left_section:hover::-webkit-scrollbar-thumb{
    display: block;
}

/* Left Footer Section */

.footer_section {
    margin-top: 15px;
}
.footer_ul{
    flex-wrap: wrap;
    color: #E7E9ED;
    font-size: 12px;
}
.footer_link{
    color: #b0b3b8;
    line-height: 15px;
    font-size: 12px;
}
.footer_link:hover{
    /* background: unset; */
    text-decoration: underline;
}
#adchoise{
    font-size: 20px;
    transform: translateY(20%);
    margin: 0;
    background: unset;
}

/* ================
    Right Section
   ================*/

 /* Left Scroll Bar */

 ::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: unset;
}
::-webkit-scrollbar-track:hover {
    background: #222425;
}
::-webkit-scrollbar-thumb {
    display: none;
    background: #646666;
    border-radius: 20px;
}
.right_section:hover::-webkit-scrollbar-thumb{
    display: block;
}

   /* Birthday Section */
.right_section{
    padding: 71px 15px 0 15px;
    flex-basis: 330px;
    overflow: auto;
}
.birthday_section {
    background: #242526;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.birthday_header {
    justify-content: space-between;
}
.birthday_header img{
    margin-right: 10px;
}
.birthday_header h4{
    color: #e4e6eb;
    font-weight: 500;
    font-size: 14px;
}
.birthday_header span{
    color: white;
    font-size: 15px;
}
.birthday_content p{
    color: #c7c7c7;
    font-weight: 400;
    margin-top: 15px;
}

/* Sponsor Section */

.sponsor_title{
    color: #b0b3b8;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}
.sponsor_box{
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}
.sponsor_img{
    width: 135px;
}
.sponsor_img img{
    width: 100%;
}
.sponsor_text{
    width: 100%;
    margin-left: 15px;
}
.sponsor_text h6{
    font-weight: 600;
    line-height: 19px;
    font-size: 14px;
    color: #e4e6eb;
}
.sponsor_text small{
    font-weight: 400;
    line-height: 16px;
    font-size: 12px;
    color: #969393;
}

/* Contact Section */

.contact_top{
    justify-content: space-between;
    margin-bottom: 25px;
}
.contact_title{
    color: #b0b3b8;
    font-size: 16px;
    font-weight: 600;
}
.contact_ul li a{
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin-left: 15px;
    padding: 8px;
    transition: 0.3s;
}
.contact_ul li a span{
    color: #b8bbbf;
    font-size: 22px;
}

/* Active Contact Section */

.active_contacts ul li a{
    color: #e4e6eb;
    padding: 5px;
    border-radius: 8px;
    transition: 0.3s;
    display: flex;
    align-items: center;
}
.active_contacts ul li a:hover{
    background: #2F3031;
}
.contact_img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    position: relative;
}
.contact_img::after{
    content: "";
    background: #31a24c;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    bottom: 4px;
    right: 0;
    position: absolute;
}
.contact_img img{
    border-radius: 50%;
    width: 30px;
    object-fit: cover;
}

/* Group Section */
.group_title{
    color: #b0b3b8;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
}
.create_group{
    height: 30px;
    width: 30px;
    background: #3a3b3c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}

/* ================
    Header Section
   ================*/